* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: rgb(101, 0, 50);
    background-color: rgb(255, 210, 222);
}

#Titulo{
    height: 150px;
    background-color: rgb(255, 183, 203);
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

#imagem{
    position: relative;
    bottom: 10px;
    transition: transform 15;
    transform: scale(1);
}
#imagem:hover{
    transform: scale(0.8);
}
#imagem2{
    position: relative;
}

#Como{
    height: 500px;
    width: 330px;
    background-color: rgb(255, 174, 197);
    float: left;
    margin-left: 37px;
    margin-top: 10px;
}

#Roupa{
    height: 500px;
    width: 790px;
    background-color: rgb(255, 173, 207);
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
}

#Como2{
    height: 500px;
    width: 315px;
    background-color: rgb(255, 174, 197);
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
}

#textogrande{
    font-size: 18px;
}

#embaixo{
    height: 280px;
    background-color: rgb(255, 168, 193);
    clear: both;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 10px;
}
#botao{
    box-shadow: 0 8px 16px 0 rgba(57, 2, 23, 0.2), 0 6px 20px 0 rgba(49, 4, 18, 0.19);
    position: relative;
    left: 575px;
    background-color: rgb(255, 159, 175);
    border: 5pc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#botao:hover{
    box-shadow: 0 12px 16px 0 rgba(57,2,23,0.24), 0 17px 50px 0 rgba(49,4,18,0.19);
}

#Titulo2{
    position: relative;
    top: 30px;
    text-align: center;
}

#imagem3{
    margin-left: 34px;
    margin-right: 15px;
    position: relative;
    top: 40px;
}

#pintura{
    height: 700px;
    width: 855px;
    background-color: rgb(255, 173, 207);
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
    position: relative;
    top: 30px;
}

#menu{
    height: 730px;
    width: 290px;
    background-color:  rgb(185, 119, 147);
    float: left;
    margin-left: 37px;
    margin-top: 10px;
}

#lado{
    height: 730px;
    width: 290px;
    background-color:  rgb(185, 119, 147);
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
}
#botao1{
    box-shadow: 0 8px 16px 0 rgba(57, 2, 23, 0.2), 0 6px 20px 0 rgba(49, 4, 18, 0.19);
    position: relative;
    bottom: 100px;
    background-color: none;
    border: 5pc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#botao1:hover{
    box-shadow: 0 12px 16px 0 rgba(57,2,23,0.24), 0 17px 50px 0 rgba(49,4,18,0.19);
}

#sakura{
    position: relative;
    bottom:500px;
    left:1020px;
}

#sakura2{
    position: relative;
    bottom:1000px;
}